/**** Import base font ****/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/**** Define base colors ****/ 

$primary_color: #F33F6F;
$secundary_color: #FEE8B7;
$tertiary_color: #F89D28;
$quaternary_color: #FF7045;
$quintenary_color: #FEDA14;

/**** Define global styles ****/

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/**** Login styles ****/

.login__section {
    background-color: $secundary_color;
    height: 100vh;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 0;
        text-align: center;
        padding: 45px 0 30px;
        font-family: 'Dancing Script', cursive;
        font-size: 3.5em;
        font-weight: bold;
        color: $quaternary_color;
    }

    .box__login, .login__logo {
        margin: 0 auto;
        width: 50vh;
    }

    .login__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;

        img {
            width: 20%;
        }
    }

    .box__login {
        background-color: $tertiary_color;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px #e1e1e1;

        a {
            text-decoration: none;
        }

        .login__label {
            text-align: center;
        }

        .login__label, .login__input {
            margin-bottom: 10px;
        }

        label, input {
            width: 98%;
        }

        label {
            font-size: 20px;
            font-weight: bold;
        }

        input {
            height: 30px;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            padding: 5px;
        }

        .btn_login {
            display: block;
            margin: 0 auto;
            background: $primary_color;
            color: #fff;
            font-weight: bold;
            border: none;
            width: 100px;
            height: 40px;
            cursor: pointer;

            &:hover {
                background-color: $quaternary_color;
            }
        }
    }
}

/**** Header styles ****/

header {
    background-color: $secundary_color;
    display: flex;
    padding: 10px 20px;

    img {
        width: 50px;
    }

    .header__Clock, .header__user {
        font-weight: bold;
        padding: 15px 0;
    }

    .header__Clock {
        text-align: center;
        width: 175vh;
        color: $quaternary_color;
        font-size: 1.3em;
    }

    .header__user {
        float: right;
    }
}

